
.content {
    display: flex; 
    align-items: center;
    justify-content: start;
    flex-direction: column;
    min-height: 100vh;
}

.header-component{
    height: 21vh;
    min-height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex; align-items: center; justify-content: center;
}


